
<div class="form-group">
 	 <%= button_to "Back", taskdetails_path , class: "btn btn-primary" %>
 	</div>
<h1 style="text-align: center;">New Task Details</h1>
<%= render 'form', taskdetail: @taskdetail %>








