
body {
  padding-top: 50px; /* or 165px */

}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.button-primary {
    background-color: #40d8f0;
    border-color: #40d8f0;
    color: #ffffff;
     height:30px;
    
}

.button {
    background-color: #40d8f0;
    border-color: #40d8f0;
    color: #ffffff;
       
    height:30px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

}

a {
    color: #f05f40;
 
    transition: all .2s;
}








.main {
 
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; 
  }

.jumbotron {
  
  background-size: 10% 10%;
  -moz-background-size: 10% 10%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

  .authform 
  {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
 
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}

