<!-- <p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
 -->


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
}
 .fixed-header{
        top: 0;
        font-size: 25px;
        font-weight: bold; 
        height: 50px;
       
    }

      .fixed-header, .fixed-footer{
        width: 60%;
        margin-left: 6%;
        position: fixed;        
        background: lightblue;
        padding: 10px 0;
        color: #fff;
        height: 20px;
        text-align: center;
    }
     .fixed-footer{
        bottom: 0;
        clear:both;
    } 

  .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
        border: 1px;

    }
     .container p{
        line-height: 20px; 
        margin-left: 4%;
    }
.button {
    /*background-color: #008CBA;*/
    background-color:white;
    border-style: groove;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

</style>
  </head>
  <body>
       <div class="fixed-header">
            <div class="container"> PMS Project</div>
       </div>

       <div class="container">
		    <p>Hi <%= @resource.email %> ,</p>
		    <p>It looks like you requested a new password.</p>
		    <p>If that sounds right,you can enter new password by clicking on the link below.</p>
    	 <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) ,class: 'button'%></p>
   		 <p>If you didn't request this, please ignore this email.</p>
	 
       </div>

 
         <div class="fixed-footer">

            <div class="container">Copyright &copy; 2018 SCS Pvt Ltd..</div>

          </div>
   </body>
</html>